* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 10px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 2px solid #ddd;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px 70px;
}

nav a.item {
    background-color: #f8f8f8;
    color: rgb(30, 29, 29);
}

nav a:hover {
    background-color: orange;
}
