<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/adabiyotlar">Adabiyotlar</a></li>
                <li><a href="/maqolalar">Maqolalar</a></li>
                <li><a href="/dissertatsiyalar">Dissertatsiyalar</a></li>
                <li><a href="/monografiyalar">Monografiyalar</a></li>
                <li><a href="/muassasalar">Muassasalar</a></li>
                <li><a href="/mualliflar">Mualliflar</a></li>
                <li><a href="/jurnallar">Jurnallar</a></li>
            </ul>
        </nav>
    </body>
</html>
