<nav>
    <ul class="nav">
        <li <% if(title == "Main page") {%>class="active"<% } %>><a href="/">Home</a></li>
        <li <% if(title == "Users page") {%>class="active"<% } %>><a href="/users">Users</a></li>
        <li <% if(title == "Posts page") {%>class="active"<% } %>><a href="/posts">Posts</a></li>
        <li <% if(title == "Jobs page") {%>class="active"<% } %>><a href="/jobs">Jobs</a></li>
        <li <% if(title == "Gallery page") {%>class="active"<% } %>><a href="/gallery">Gallery</a></li>
        <li <% if(title == "Contacts page") {%>class="active"<% } %>><a href="/contacts">Contacts</a></li>
        <li <% if(title == "Comments page") {%>class="active"<% } %>><a href="/comments">Commets</a></li>
    </ul>
</nav>
